* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 35%;
  background-color: #f3e9df;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 100;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.name span {
  display: block;
}

.title {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 10px;
  color: #555;
}


.content {
  margin-left: 35%;
  padding: 60px;
}

.block {
  margin-bottom: 50px;
}

.block h1 {
  font-size: 24px;
  color: #0066ff;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.block ul {
  list-style: none;
  font-size: 16px;
  line-height: 2;
}

/* Skills sections */
.skills-group {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.skills-category {
  flex: 1;
}

.skills-category h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.skills-category ul {
  list-style: none;
  padding-left: 0;
}

/*responsive*/
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 15px;
    box-shadow: none;
  }

  .profile-img {
    width: 120px;
    height: 120px;
  }

  .name {
    font-size: 22px;
  }

  .title {
    font-size: 12px;
  }

  .content {
    margin-left: 0;
    padding: 30px 20px;
  }

  .block h1 {
    font-size: 20px;
  }

  .block ul {
    font-size: 14px;
  }

  .skills-group {
    flex-direction: column;
    gap: 2rem;
  }

  .skills-category h2 {
    font-size: 16px;
  }
}
